body
{
	background-image: url(../images/wallpaper.jpg);
	width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
	font-size: 30px;
}

.actions
{
	width: 70%;
	height: 500px;
	left: 15%;
	position: relative;
	display: none;
	text-align: center;
}

.actions li
{
	font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
	font-size: 45px;
	font-style: normal;
	font-variant: normal;
	font-weight: 280;
	line-height: 75px;
	list-style-type:none;

}

.actions ul
{
	width:45%;
	display:inline-block;
	padding-left:0px;
}

div.main-container
{
	width: 70%;
	left: 15%;
	position: relative;
	color: white;
}

div.days
{
	width: 70%;
	left: 15%;
	position: relative;
	font-size: 44px;
}
ul
{
	margin-left: 4%;
}

ul a
{
	text-decoration:none;
}

ul a:link,ul a:visited
{
	color: white;
	text-decoration:none;
}

ul a:hover
{
	color: gold;
	text-decoration: none;
}

ul.links a:link,ul.links a:visited
{
	font-size: 45px;
	color: white;
}

ul.links a:hover
{
	font-size: 45px;
	color: gold;
}

div.credits-container
{
	font-size: 25px;
	color: white;
}

p.title-credit
{
	font-size: 40px;
	color: red;
	margin-left: 5%;
}

p.title-2-credit
{
	font-size: 40px;
	color: gold;
	margin-left: 5%;
}

p.title-3-credit
{
	font-size: 40px;
	color: blue;
	margin-left: 5%;
}

p.title-4-credit
{
	font-size: 40px;
	color: white;
	margin-left: 5%;
}

p.title-1-update
{
	font-size: 40px;
	color: salmon;
	margin-left: 5%;
}

p.title-1-update a:link, a:visited
{
	font-size: 40px;
	color: salmon;
}

p.title-1-update a:hover
{
	font-size: 40px;
	color: goldenrod;
}

p.title-2-update
{
	font-size: 40px;
	color: cornflowerblue;
	margin-left: 5%;
}

p.title-2-update a:link, a:visited
{
	font-size: 40px;
	color: cornflowerblue;
}

p.title-2-update a:hover 
{
	font-size: 40px;
	color: blueviolet;
}

p.title-3-update 
{
	font-size: 40px;
	color: orange;
	margin-left: 5%;
}

p.title-3-update a:link, a:visited
{
	font-size: 40px;
	color: orange;
}

p.title-3-update a:hover
{
	font-size: 40px;
	color: orangered;
}

p.title-4-update
{
	font-size: 40px;
	color: red;
	margin-left: 5%;
}

p.title-4-update a:link, a:visited
{
	font-size: 40px;
	color: red;
}

p.title-4-update a:hover
{
	font-size: 40px;
	color: green;
}

p.title-5-update
{
	font-size: 40px;
	color: greenyellow;
	margin-left: 5%;
}

p.title-5-update a:link, a:visited
{
	font-size: 40px;
	color: greenyellow;
}

p.title-5-update a:hover
{
	font-size: 40px;
	color: green;
}

p.title-6-update
{
	font-size: 40px;
	color: cornsilk;
	margin-left: 5%;
}

p.title-6-update a:link, a:visited
{
	font-size: 40px;
	color: cornsilk;
}

p.title-6-update a:hover
{
	font-size: 40px;
	color: gold;
}

p.title-1-start
{
	font-size: 100px;
	text-align: center;
	color: gold;
	font-family: Calibri, sans-serif;
}

p.title-2-start
{
	font-size: 75px;
	text-align: center;
	color: gold;
	font-family: Calibri, sans-serif;
}

p.title-3-start
{
	font-size: 50px;
	text-align: center;
	color: white;
	font-family: Calibri, sans-serif;
}

p.title-4-start
{
	font-size: 50px;
	text-align: center;
	color: gold;
	font-family: Calibri, sans-serif;
}

p.title-5-start
{
	font-size: 55px;
	text-align: center;
	color: red;
	font-family: Calibri, sans-serif;
}

p.person-credit-1
{
	color: gold;
	margin-left: 5%;
	font-size: 30px;
}

p.person-credit-2
{
	color: white;
	margin-left: 5%;
	font-size: 30px;
}

div.welcome-text-settings
{
	font-size: 40px;
	color: gold;
	text-align: center;
}

ul.events
{
	text-align: left;
	font-size: 30px;
	position: relative;
	color: white;
}

ul.events a:link a:visited
{
	color: blue;
	text-decoration:none;
}

ul.events a:hover
{
	color: gold;
	text-decoration:none;
}

div.countdown-container
{
	margin-top: 30px;
}

div.countdown-container-2
{
	margin-top: 30px;
	margin-left: 5%;
	font-size: 35px;
}

div.countdown-container-3
{
	margin-top: 100px;
	font-size: 40px;
	margin-left: 7%;
}

div.countdown-container-4
{
	font-size: 35px;
	margin-top: 20px;
}

div.countdown-container-5
{
	font-size: 35px;
	margin-left: 75px;
}

div.options-container
{
	font-size: 34px;
	width: 70%;
	left: 15%;
	position: relative;
}

.timetables-option a:link, .timetables-option a:hover, .timetables-option a:visited, .timetables-option a:active
{
	color: cyan;
	font-size: 45px;
}

.tutorial-option a:link, .tutorial-option a:hover, .tutorial-option a:visited, .tutorial-option a:active
{
	color: red;
	font-size: 45px;
}

.tv-signal-option a:link, .tv-signal-option a:hover, .tv-signal-option a:visited, .tv-signal-option a:active
{
	color: gold;
	font-size: 45px;
}

.pirates-paradise-option a:link, .pirates-paradise-option a:hover, .pirates-paradise-option a:visited, .pirates-paradise-option a:active
{
	color: greenyellow;
	font-size: 45px;
}
.clasifications-option a:link, .clasifications-option a:hover, .clasifications-option a:visited, .clasifications-option a:active
{
	color: gold;
	font-size: 45px;
}

.credits-option a:link, .credits-option a:hover, .credits-option a:visited, .credits-option a:active
{
	color: red;
	font-size: 45px;
}


.updates-option a:link, .updates-option a:hover, .updates-option a:visited, .updates-option a:active
{
	color: cyan;
	font-size: 45px;
}

div.welcome-follow-text-container
{
	font-size: 40px;
	color: white;
	text-align: center;
}

div.follow-link-container
{
	font-size: 60px;
}

ul.follow a:hover
{
	color: gold;
	text-decoration: none;
}

ul.options
{
	font-size: 42px;
}

ul.options a:link, ul.options a:visited
{
	color: orangered;
	text-decoration: none;
}

ul.options a:hover
{
	color: white;
	text-decoration: none;
}

ul.options-2
{
	font-size: 38px;
}

ul.options-2 a:hover
{
	color: white;
	text-decoration: none;
}

div.video
{
	margin: auto;
	width: 50%;
}

.center 
{
	text-align: center;
}

@media (min-width: 481px) and (max-width: 767px) {
    p.title-1-start, div.follow-link-container
    {
        font-size: 40px;
    }
    p.title-2-start, p.title-credit, p.title-3-credit, p.title-4-credit,  p.title-3-start, p.title-6-update
    {
        font-size: 35px;
    }
    ul.options-2, ul.links, div.countdown-container-4, div.days, p.title-4-credit, ul.options, p.title-1-update, p.title-2-update, p.title-3-update, p.title-4-update, p.title-5-update, p.person-credit-1, p.person-credit-2
    {
        font-size: 30px;
    }
    ul.events
    {
        font-size: 25px;
    }
}

ul.revive a:link,ul.revive a:visited
{
	color: white;
}

ul.revive a:hover
{
	color: gold;
}

ul.day-selection a:link,ul.day-selection a:visited
{
	color: whitesmoke;
}

ul.day-selection a:hover
{
	color: red;
}

p.title-video
{
	font-size: 40px;
	color: gold;
}

p.title-credit-thanks
{
	text-align: center;
	font-size: 40px;
	color: greenyellow;
}

ul.update-links a:link,ul.update-links a:visited
{
	color: red;
	font-size: 35px;
}

ul.update-links a:hover
{
	color: white;
	font-size: 35px;
}

ul.clasifications-links a:link,ul.clasifications-links a:visited
{
	color: white;
	font-size: 45px;
}

ul.clasifications-links a:hover
{
	color: orange;
	font-size: 45px;
}

ul.tutorial-links a:link,ul.tutorial-links a:visited
{
	color: greenyellow;
	font-size: 45px;
}

ul.tutorial-links a:hover
{
	color: cornflowerblue;
	font-size: 45px;
}

ul.events
{
	font-size: 35px;
}

ul.paradise-links a:link,ul.paradise-links a:visited
{
	font-size: 50px;
	color: red;
}

ul.paradise-links a:hover
{
	font-size: 50px;
	color: white;
}

p.title-revive
{
	font-size: 60px;
	color: orange;
	text-align: center;
}